<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Listas de cosas para hacer</h1>
    <% lists.forEach(list => { %>
      <%- include("partials/list",{list:list}) %>
    <% }) %>
  </body>
</html>
